*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

@import 'var';
@import 'sec-1';
@import 'sec-2';
@import 'service';
@import 'portfo';
@import 'contact';